*,
*:before,
*:after {
    margin: 0;
    box-sizing: border-box;
}

.game-sector {
    width: 1200px;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("../icons/backyard.png");
}

.command-panel {
    height: 240px;
    display: flex;
}

.button {
    width: 187px;
    height: 45px;
}
.button:hover {
    border: 1px solid red;
}

.pause {
    background-image: url("../icons/button-pause.png");
}

.continue {
    background-image: url("../icons/button-continue.png");
}

.restart {
    background-image: url("../icons/button-restart.png");
}

/* Zombies background */

.battleground {
    padding-left: 300px;
}

.baseline {
    height: 120px;
    position: relative;
    overflow: hidden;
}

/* Single zombies */

.zombie {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.zombie:hover {
    border: 2px solid red;
}

.small {
    background-image: url("../icons/zombie-small.gif");
    margin-top: 63px;
    height: 57px;
    width: 41px;
}

.mad {
    background-image: url("../icons/zombie-mad.gif");
    height: 112px;
    width: 75px;
}

.strong {
    background-image: url("../icons/zombie-strong.gif");
    height: 112px;
    width: 75px;
}

.bird {
    background-image: url("../icons/zombie-bird.gif");
    height: 90px;
    width: 68px;
}

.dead {
    background-image: url("../icons/zombie-dead.gif");
}

.zombie-status {
    width: 100%;
}

.winner {
    background-image: url("../icons/winner.gif");
}

.loser {
    background-image: url("../icons/loser.gif");
}
