*,
*:before,
*:after {
    box-sizing: border-box;
}


/* Zombies background */

.zombies {
	padding-left: 200px;
	padding-top: 340px;
	background-image: url("../icons/backyard.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 750px;
    width: 1000px;
}

/* Single zombies */

.zombie {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    animation-name: zombie-run;
}

.zombie:hover {
    border: 3px solid red;
}

@keyframes zombie-run {
  0% {left:450px; top:0px;}
  100% {left:0px; top:0px;}
}

.small {
    background-image: url("../icons/zombie-small.gif");
    height: 84px;
    width: 58px;
    animation-duration: 12s;
}

.mad {
    background-image: url("../icons/zombie-mad.gif");
    height: 138px;
    width: 92px;
    animation-duration: 15s;
}

.strong {
    background-image: url("../icons/zombie-strong.gif");
    height: 146px;
    width: 120px;
    animation-duration: 20s;
}

.dead {
    background-image: url("../icons/zombie-dead.gif");
}

.dead:hover {
    border: 3px solid green;
}
